nav, div {
	font-family: 'Nanum Gothic', sans-serif;
}

nav {
	margin-top: 10px;
	height: 100px;
	padding-left: 50px;
}

nav h5 {
	margin-left: 20px;
}

.colorBeam {
	background:rgb(22, 174, 202);
	width: 100%;
	height: 10px;
}

.dashboard h5 {
	width: 50%;
	margin-bottom: 50px;
}

.logo {
	width: 75px;
	height: 75px;
	margin-left: 20px;
}

.StartupList {
	width: 90%;
}

/* Card */

.startupCard {
	width: 100%;
	border-top: 2px solid #bebebe;
	display: flex;
	align-items: center;
	padding: 20px 20px;
}

.startupCard .nameAndLogo h5 {
	text-decoration: none;
	color: black !important;
	font-weight: 700;
	font-size: 1.4em;
}

.startupCard .nameAndLogo h5:hover {
	text-decoration: underline;
	color: black;
}

.startupCard h5, p {
	display: inline !important;
}

.nameAndLogo {
	display: flex;
	align-items: center;
}

.nameAndLogo h5 {
	margin-left: 20px;
}

.memberCont {
	margin: 0px;
	white-space: wrap;
}


.member:not(:first-child) {
    margin-left: 10px;
}

/* mobile */
@media (min-width: 320px) and (max-width: 480px) {
  
	nav {
		padding-left: 0px;  
	}

	.startupCard {
		display: block !important;
	}

	.dashboard h5 {
		width: 70%;
		margin-bottom: 50px;
	}
}

/* iPads (portrait and landscape) ----------- */
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}*/
